
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Build output


# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

/src/generated/prisma

prisma/migrations/